.advantages {
  $this: &;

  padding-bottom: 13.1rem;

  @include media('767', max) {
    padding-bottom: 8.4rem;
  }

  &__title {
    margin-bottom: 6.8rem;
    text-align: var(--tac);

    @include media('576', max) {
      margin-bottom: 3.6rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.1rem;
    background-color: var(--pallette-onyx);

    @include media('1024', max) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media('767', max) {
      grid-template-columns: 1fr;
    }

    @include media('576', max) {
      width: calc(100% + 1.6rem);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 18rem;
    gap: 1rem;
    grid-column: span 2;
    align-items: flex-start;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    background-color: var(--pallette-black);

    &:first-child {
      @include media('576', max) {
        border-top: 0.1rem solid var(--pallette-onyx);
      }
    }

    @include media('1024', max) {
      padding-left: 1rem;
    }

    @include media('576', max) {
      grid-template-columns: 1fr 15rem;
      padding-left: 0;
      padding-right: 0;
      padding-top: 2.5rem;
    }

    &--button {
      --offset-y: 2.4rem;

      @include flex-center-column;

      text-align: var(--tac);

      @include media('576', max) {
        padding-top: 4rem;
      }
    }

    &:hover {
      #{$this}__img {
        opacity: 1;

        &--1 {
          transform: rotate(-15deg)
            /* scale(1.09) */
            scale(1.08);
        }

        &--2 {
          transform: rotate(-10.04deg)
            /* scale(1.03) */
            scale(1.07);
        }

        &--3 {
          transform: rotate(-14.86deg)
            /* scale(1.14) */
            scale(1.07);
        }

        &--4 {
          transform: rotate(-11.75deg)
            /* scale(1.05) */
            scale(1.09);
        }

        &--5 {
          transform: rotate(-12.01deg)
            /* scale(1.12) */
            scale(1.12);
        }
      }
    }
  }

  &__content {
    --offset-y: 2.2rem;
  }

  &__subtitle {
    display: flex;
    font-size: 1.6rem;
    line-height: var(--lh140);
    font-weight: var(--fw400);
    text-transform: var(--ttl);

    @include media('1024', max) {
      font-size: 1.3rem;
    }

    @include media('767', max) {
      font-size: 1.3rem;
    }

    b {
      margin-right: 0.6rem;
      font-weight: var(--fw400);
      font-size: 5.2rem;
      font-family: var(--font2);
      line-height: var(--lh140);

      @include media('1024', max) {
        font-size: 4rem;
      }

      @include media('576', max) {
        line-height: var(--lh100);
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: var(--lh140);
    letter-spacing: var(--lsm02);
    color: var(--pallette-gray-suit);

    @include media('1024', max) {
      font-size: 1.2rem;
    }

    &--button {
      max-width: 31rem;
    }
  }

  &__img-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    height: 18rem;

    @include media('576', max) {
      height: 15rem;
    }
  }

  &__img {
    position: absolute;
    top: -40%;
    left: -55%;
    width: 214%;
    max-width: unset;
    height: 256%;
    opacity: 0.4;
    transition: transform var(--transition2), opacity var(--transition2);
  }
}