.numeric-list {
  margin-bottom: 6.8rem;
  counter-reset: numeric-list;

  @include media('500', max) {
    margin-bottom: 2rem;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    align-items: center;
    padding: 2.2rem 0;
    border-bottom: 0.1rem solid var(--pallette-tuna);

    &:first-child {
      border-top: 0.1rem solid var(--pallette-tuna);
    }

    @include media('1024', max) {
      grid-template-columns: 1fr;
      padding: 1.6rem 0;
      gap: 1.6rem;
    }
  }

  &__title {
    max-width: 33rem;
    font-size: 2.4rem;
    line-height: var(--lh140);
    text-transform: var(--ttu);
    letter-spacing: var(--ltsm04);
    font-weight: var(--fw400);

    @include media('1025', min) {
      grid-column: 2 / 4;
    }

    @include media('1024', max) {
      max-width: 100%;

      @include flex-center-y;
    }

    @include media('767', max) {
      font-size: 1.6rem;
    }

    &::before {
      @include pos-center(y);
      left: 0;
      font-size: 3.6rem;
      line-height: var(--lh100);
      font-family: var(--font2);
      color: var(--pallette-topaz);
      counter-increment: numeric-list;
      content: counter(numeric-list, decimal-leading-zero);

      @include media('1024', max) {
        position: static;
        transform: inherit;
        margin-right: 1.6rem;
      }
    }
  }

  &__text {
    max-width: 58.4rem;
    font-size: 1.8rem;
    line-height: var(--lh140);
    letter-spacing: var(--ltsm02);
    color: var(--pallette-gray-suit);

    @include media('1025', min) {
      grid-column: span 3;
    }

    @include media('767', max) {
      font-size: 1.2rem;
    }
  }
}

.numeric-list-wrap {
  padding-bottom: 14.5rem;

  @include media('1024', max) {
    padding-bottom: 6rem;
  }

  &__btn {
    margin: 0 auto;
  }
}
