<article class="portfolio-card">
  <div class="portfolio-card__content">
    {% if portfolio_card.title %}
      <h2 class="portfolio-card__title" data-sal="slide-up" data-sal-duration="800">
        <a class="portfolio-card__title-link" href="#">
          {{ portfolio_card.title }}
        </a>
      </h2>
    {% endif %}

    {% if portfolio_card.labels %}
      {% view "^tags" with {
        tags: portfolio_card.labels|default({})|merge({
          class: "portfolio-card__list"
        })
      } %}
    {% endif %}

    {% if portfolio_card.text %}
      <p class="portfolio-card__text" data-sal="slide-up" data-sal-duration="800" data-sal-delay="400">
        {{ portfolio_card.text }}
      </p>
    {% endif %}

    {% if portfolio_card.text_with_arrow %}
      <div class="portfolio-card__text-arrow">
        {{ portfolio_card.text_with_arrow.text }}

        {% view "@icon" with {
          icon: {
            class: "portfolio-card__text-arrow-icon",
            name: "sprite-mono.svg#arrow"
          }
        } %}
      </div>
    {% endif %}
  </div>

  {% if portfolio_card.image %}
    <div class="portfolio-card__img-wrap" data-sal="slide-up" data-sal-duration="800" data-sal-delay="200">
      {% view "@image" with {
        image: portfolio_card.image|merge({
          sizes: {
            width: 690,
            height: 484
          }
        })
      } %}
    </div>
  {% endif %}
</article>