.header {
  $this: &;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    position: relative;

    @include flex-center-between;

    padding: 2.5rem 1rem 2.5rem 1.6rem;
    border-bottom: 0.1rem solid var(--pallette-onyx);

    @include media('500', max) {
      padding: 5.4rem 0.4rem 2.4rem 1.4rem;
    }
  }

  &--active {
    margin-top: 1.5rem;

    #{$this}__inner {
      background: rgba(28, 26, 34, 0.5);
      backdrop-filter: blur(2rem);
      border-radius: 8rem;
      padding: 1rem 1rem 1rem 1.6rem;
      border-bottom: none;
    }
  }

  &--show-burger-menu {
    #{$this}__inner {
      border-radius: 2.2rem 2.2rem 0 0;
    }

    .burger-menu {
      opacity: 1;
      pointer-events: auto;
    }

    .burger__icon {
      &--close {
        display: block;
      }

      &--menu {
        display: none;
      }
    }
  }

  &__logo {
    position: relative;
    display: flex;
    overflow: hidden;

    img {
      width: 15.5rem;
      height: 2.5rem;
      flex-shrink: 0;

      @include media('500', max) {
        width: 9.9rem;
        height: 1.6rem;
      }
    }
  }

  &__menu {
    @include media('767', max) {
      display: none;
    }
  }

  &__list {
    --offset-x: 2.4rem;
    display: flex;
  }

  &__end {
    --offset-x: 6rem;

    @include flex-center-y;
  }

  &__link {
    padding: 0.7rem 1rem;
    color: var(--pallette-white);
    font-size: 1.4rem;
    line-height: var(--lh100);
    border-radius: var(--bdrs5);
    transition: color var(--transition), background-color var(--transition);

    &:hover {
      color: var(--pallette-black);
      background-color: var(--pallette-white);
    }
  }

  &__discuss-link {
    @include media('767', max) {
      display: none;
    }
  }
}
