<header class="header js-header">
  <div class="container">
    <div class="header__inner">
      <div class="header__start">
        {% view "@logo" with {
          logo: header.logo|merge({
            header: true,
            class: "header__logo"
          })
        } %}
      </div>
      <div class="header__end offset-x">
        <nav class="menu header__menu" aria-label="Main">
          <ul class="header__list offset-x">
            {% for item in header.menu.items %}
              <li class="header__item {% if item.current %}header__item--current{% endif %}">
                {% view "@button" with {
                  button: item|merge({
                    class: "header__link"
                  })
                } %}
              </li>
            {% endfor %}
          </ul>
        </nav>

        {% view "@button" with {
          button: header.discuss_link|merge({
            class: "btn--primary header__discuss-link",
            icon: {
              name: "sprite-mono.svg#btn-figure"
            }
          })
        } %}
      </div>

      {% view "@burger" %}

      {% view "^burger_menu" %}
    </div>
  </div>
</header>