*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a[class] {
  text-decoration: none;
}

:focus-visible {
  outline-offset: 0.5rem;
  outline-color: var(--pallette-light-taupe);
}

.no-scroll {
  overflow: hidden;
}

html {
  height: 100%;
  scrollbar-color: var(--pallette-american-silver) transparent;
  scrollbar-width: thin;

  font-size: calc(min(100vw, 1440px) / 1440 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 767px) {
    font-size: calc(100vw / 500 * 10);
  }

  @media (max-width: 500px) {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  @include flex-column;
  height: 100%;
  font-family: var(--font1);
  color: var(--pallette-white);
  background-color: var(--pallette-black);
}

.header {
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  @include container();
}

.offset-x > *:not(:last-child) {
  margin-right: var(--offset-x, 1rem);
}

.offset-y > *:not(:last-child) {
  margin-bottom: var(--offset-y, 1rem);
}

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pallette-american-silver);
  border-radius: 0.5rem;
}

// main
.main {
  position: relative;
  flex: 1 0 auto;

  &__grid-logos {
    padding-bottom: 26.2rem;

    @include media('1024', max) {
      padding-bottom: 11rem;
    }
  }

  &__section {
    padding-top: 18.8rem;

    @include media('1024', max) {
      padding-top: 15.9rem;
    }
  }

  &--error {
    overflow: hidden;
  }
}
