// input-block
.input-block {
  $this: &;

  position: relative;
  border-bottom: 0.1rem solid var(--pallette-topaz);

  &:focus-within {
    border-color: var(--pallette-white);
  }

  &__input {
    width: 100%;
    padding-bottom: 1.2rem;
    font-size: 1.6rem;
    font-weight: var(--fw500);
    line-height: var(--lh140);
    letter-spacing: var(--lsm02);
    color: inherit;
    outline: none;

    @include placeholder {
      opacity: 0;
    }

    &:focus ~ #{$this}__label,
    &:not(:placeholder-shown) ~ #{$this}__label {
      transform: translateY(-1.8rem);
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform-origin: 0 0;
    transition: transform var(--transition);

    span {
      color: var(--pallette-light-taupe);
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    + #{$this}__message {
      bottom: 0.8rem;

      @include media('1024', max) {
        bottom: -2.4rem;
      }
    }
  }

  label {
    font-size: 1.4rem;
    line-height: var(--lh140);
    letter-spacing: var(--lsm02);
    color: var(--pallette-topaz);
    text-align: left;
  }

  &--error {
    border-color: var(--pallette-amaranth);

    .input--checkbox {
      border-color: var(--pallette-amaranth);
    }
  }

  &__message {
    position: absolute;
    left: 0;
    bottom: -2.4rem;
    font-size: 1.4rem;
    line-height: var(--lh140);
    letter-spacing: var(--ltsm02);
    color: var(--pallette-amaranth);
  }
}

// input
.input {
  background-color: transparent;
  border: none;

  &--checkbox {
    @include bg(contain);

    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    margin: 0;
    margin-right: 1.6rem;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--pallette-topaz);
    appearance: none;

    &:checked {
      background-image: url('../assets/images/checkbox.svg');
      border: 0.1rem solid transparent;
    }
  }
}

// for input type="number"

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
