<form class="form js-form" action="/" novalidate>
  <div class="form__content">
    {% for item in form.items %}
      {% view "@input_block" with {
        input: item
      } %}
    {% endfor %}

    {% view "@button" with {
      button: form.button|default({})|merge({
        class: "btn--secondary form__btn js-invalid",
        icon: {
          name: "sprite-mono.svg#btn-figure"
        }
      })
    } %}

    {% view "@notification" with {
      notification: {
        class: "form__notification"
      }
    } %}
  </div>

  {% view "@loader" %}
</form>