.grid-logos {
  &__list {
    --cards: 5;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    background-color: var(--pallette-onyx);
    border-bottom: 1px solid var(--pallette-onyx);

    &::after {
      content: '';
      flex: 1 0 0px;
      margin-right: -1px;
      background-color: var(--pallette-black);
    }

    @include media('1024', max) {
      --cards: 3;
    }
  }

  &__item {
    --span: 1;
    overflow: hidden;
    width: calc((100% - (var(--cards) - 1) * 1px) / var(--cards) * var(--span) + (var(--span) - 1) * 1px);
    @include flex-center;

    min-height: 16rem;
    padding: 1rem;
    background-color: var(--pallette-black);

    &:first-child {
        --span: 2;

        @include media('1024', max) {
          --span: 1;
        }
    }

    @include media('767', max) {
      min-height: 10rem;
    }

   @include media('576', max) {
      padding: 0.2rem;
    }
  }

  &__img {
    // width: 27.6rem;
    // height: 15.1rem;
    // object-fit: contain;
    transition: transform var(--transition2);

    &:hover {
      transform: scale(1.05);
    }

    // @include media('500', max) {
    //   width: auto;
    //   height: auto;
    //   padding: 2rem;
    // }
  }

  &__title {
    font-size: 4.8rem;
    line-height: var(--lh100);
    text-transform: var(--ttu);
    font-family: var(--font2);
    font-weight: var(--fw400);

    @include media('1024', max) {
      font-size: 2.2rem;
    }
  }
}