.hero {
  position: relative;
  padding-bottom: 26.6rem;
  overflow: hidden;

  @include media('1024', max) {
    padding-bottom: 5.9rem;
  }

  &__video {
    position: absolute;
    bottom: 6rem;
    z-index: -1;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      content: '';
      background: linear-gradient(180deg, var(--pallette-black) -1.22%, rgba(29, 25, 35, 0) 62.73%), linear-gradient(360deg, var(--pallette-black) 13.47%, rgba(29, 25, 35, 0) 69.31%)
    }

    video {
      @include img(cover);
    }
  }

  &__title {
    margin-bottom: 11.2rem;

    @include media('1024', max) {
      margin-bottom: 5.9rem;
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 2.6rem;

      @include media('1024', max) {
        margin-bottom: 4.5rem;
      }
    }
  }

  &__text {
    max-width: 62.9rem;
    font-size: 3.2rem;
    line-height: var(--lh140);
    letter-spacing: var(--lsm04);
    text-transform: var(--ttu);
    color: var(--pallette-gray-suit);

    @include media('767', max) {
      font-size: 2rem;
    }

   @include media('576', max) {
      max-width: 27.2rem;
    }

    &:not(:last-child) {
      margin-bottom: 19rem;

      @include media('1024', max) {
        margin-bottom: 8.9rem;
      }

     @include media('576', max) {
        margin-bottom: 5rem;
      }
    }
  }

  &__awards {
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // gap: 2rem 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    border-top: 0.1rem solid var(--pallette-onyx);

    @include media('1024', max) {
      gap: 2rem 8rem;
    }

    @include media('767', max) {
      gap: 2rem 4rem;
    }

   @include media('576', max) {
      padding-top: 1.6rem;
      gap: 2rem 1.6rem;
    }

    &-img {
      @include img(cover);

      transition: transform var(--transition2);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__btn {
    display: none;

    &:not(:last-child) {
      margin-bottom: 9.2rem;
    }

   @include media('576', max) {
      display: flex;
      margin: 0 auto;
    }
  }
}
