<section class="hero">
  <div class="container">
    {# todo: заменить на видос #}
    <div class="hero__video">
      <img src="./assets/images/rings_hero.png" alt="">
    </div>

    {% if hero.title %}
      {% view "@title" with {
        title: hero.title|default({})|merge({
          attrs: 'data-sal="slide-up" data-sal-duration="800"',
          class: "title--h1 hero__title"
        })
      } %}
    {% endif %}

    {% if hero.labels.items %}
      <ul class="hero__list" role="list">
        {% for item in hero.labels.items %}
          {% view "@label" with {
            label: item|merge({
              attrs: 'data-sal="slide-up" data-sal-duration="800" data-sal-delay="400"'
            })
          } %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if hero.text %}
      <p data-sal="slide-up" data-sal-duration="800" data-sal-delay="800" class="hero__text">
        {{ hero.text }}
      </p>
    {% endif %}

    {% if hero.button %}
      {% view "@button" with {
        button: hero.button|default({})|merge({
          class: "btn--secondary hero__btn",
          icon: {
            name: "sprite-mono.svg#btn-figure"
          }
        })
      } %}
    {% endif %}

    {% if hero.awards %}
      <ul class="hero__awards" role="list">
        {% for item in hero.awards.items %}
          <li {% if item.attrs %}{{ item.attrs }}{% endif %}>
            <img
              class="lazy hero__awards-img"
              src="./assets/images/pixel.png"
              data-src="{{ item.path }}"
              alt="{{ item.text }}"
            >
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>