<ul class="numeric-line-list">
  {% for item in numeric_line_list.items %}
    <li class="numeric-line-list__item">
      {% if item.text %}
        <div class="numeric-line-list__title-wrap">
            <h3 class="numeric-line-list__title">
                {{ item.text }}
              </h3>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>