.burger {
  $this: &;

  display: none;
  cursor: pointer;

  @include media('1024', max) {
    display: flex;
  }

  &#{$this}--active #{$this}__btn-item {
    top: 0.5rem;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }

  &__inner {
    @include flex-center;

    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--pallette-onyx);
    border-radius: 50%;
  }

  &__btn {
    @include flex-center;

    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__icon {
    &--menu {
      width: 1.6rem;
      height: 0.8rem;
      fill: var(--pallette-white);
      flex-shrink: 0;
    }

    &--close {
      width: 1.2rem;
      height: 1.2rem;
      fill: var(--pallette-white);
      flex-shrink: 0;
      display: none;
    }
  }
}
