<div class="burger">
  <div class="burger__inner">
    <button class="burger__btn" aria-label="Show menu">
      <span class="burger__btn-item"></span>
      <span class="burger__btn-item"></span>
    </button>
  </div>
</div>