{% extends "../blocks/layout/base.twig" %}

{% block content %}
  <main id="main" class="main">
    {% view "&hero" %}

    {% view "&advantages" %}

    {% view "&unique" %}

    {% view "&grid_logos" with {
      grid_logos: home.grid_logos
    } %}

    {% view "&callback_aside" %}
  </main>
{% endblock %}