{% extends "../blocks/layout/base.twig" %}

{% block content %}
  <main class="main">
    {% view "&hero" %}

    {% view "&brands" with {
      brands: home.brands
    } %}

    {% view "&callback_aside" %}
  </main>
{% endblock %}