{% extends "../blocks/layout/base.twig" %}

{% block content %}
  <main class="main main--services">
    {% view "&hero_inner" with {
        hero_inner: services.hero_inner
    } %}

    {% view "^numeric_list" %}

    {% view "&technologies" %}

    {% view "&advantages_service" %}

    {% view "&workflow" %}

    {% view "&callback_aside" %}
  </main>
{% endblock %}