.tabs-nav {
  $this: &;

  @include flex-center;
  position: sticky;
  top: 8rem;
  z-index: 10;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.1rem solid var(--pallette-onyx);
    border-radius: var(--bdrs5);
  }

  &__item {
    padding: 1rem 0.8rem;

    &--active {
      #{$this}__btn {
        color: var(--pallette-black);
        background-color: var(--pallette-white);
      }
    }
  }

  &__btn {
    padding: 0.7rem 1rem;
    font-size: 1.8rem;
    line-height: var(--lh100);
    font-weight: var(--fw500);
    text-transform: var(--ttu);
    color: var(--pallette-gray-suit);
    background-color: var(--pallette-woodsmoke);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    .btn__text {
      pointer-events: none;
    }

    &:hover {
      color: var(--pallette-black);
      background-color: var(--pallette-white);
    }

    @include media('767', max) {
      font-size: 1.2rem;
    }
  }
}
