<nav class="tabs-nav {{ tabs_nav.class }}" aria-label="Tabs">
  <ul class="tabs-nav__list" role="tablist">
    {% for item in tabs_nav.items %}
      <li class="tabs-nav__item {{ item.class }}">
        {% view "@button" with {
          button: item|default({})|merge({
            class: "tabs-nav__btn js-tabs-btn"
          })
        } %}
      </li>
    {% endfor %}
  </ul>
</nav>
