.notification {
  padding: 1.8rem 3.2rem;
  font-size: 1.4rem;
  line-height: var(--lh140);
  text-align: var(--tac);
  letter-spacing: var(--ltsm02);
  background-color: var(--pallette-light-taupe);
  border-radius: var(--bdrs8);
}
