<div class="callback-aside popup__inner">
  {% if popup.title %}
    <div class="title title--h2 callback-aside__title">
      {{ popup.title.text }}
    </div>
  {% endif %}

  {% if popup.subtitle %}
    <p class="callback-aside__text">
      {{ popup.subtitle }}
    </p>
  {% endif %}

  {% if popup.form %}
    {% view "&form" with {
      form: popup.form
    } %}
  {% endif %}

  <button class="popup__close">
    {% view "@icon" with {
      icon: {
        class: "popup__close-icon",
        name: "sprite-mono.svg#close"
      }
    } %}
  </button>
</div>