.loader {
  position: absolute;
  top: 5rem;
  left: 50%;
  width: 12rem;
  height: 12rem;
  border-top: 0.4rem solid var(--pallette-light-taupe);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition);
}

@keyframes spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
