<aside class="callback-aside">
  <div class="container">
    {% if callback_aside.title %}
      {% view "@title" with {
        title: callback_aside.title|merge({
          attrs: 'data-sal="slide-up" data-sal-duration="800"',
          class: "title--h2 callback-aside__title"
        })
      } %}
    {% endif %}

    {% if callback_aside.subtitle %}
      <p data-sal="slide-up" data-sal-duration="800" data-sal-delay="200" class="callback-aside__text">
        {{ callback_aside.subtitle }}
      </p>
    {% endif %}

    {% if callback_aside.form %}
      {% view "&form" with {
        form: callback_aside.form
      } %}
    {% endif %}
  </div>
</aside>