<aside class="callback-aside">
  <div class="container">
    {% view "@title" with {
      title: callback_aside.title|merge({
        class: "title--h2 callback-aside__title"
      })
    } %}

    <p class="callback-aside__text">
      {{ callback_aside.subtitle }}
    </p>

    {% view "&form" with {
      form: callback_aside.form
    } %}
  </div>
</aside>