:root {
  // pallette
  --pallette-black: #1c1a22;
  --pallette-onyx: #3a3b3f;
  --pallette-white: #fff;
  --pallette-light-taupe: #b19b71;
  --pallette-american-silver: #d2d5ca;
  --pallette-topaz: #797585;
  --pallette-gray-suit: #cdcad5;
  --pallette-woodsmoke: #141218;

  // containers
  --container-width: 144rem;
  --container-padding: 2rem;

  @include media('500', max) {
    --container-padding: 1.6rem;
  }

  // fonts
  --font1: 'DM Sans', sans-serif;
  --font2: 'Libre Caslon Display', serif;

  // transition
  --transition: 0.3s;
  --transition2: 1s;
  --transition3: 0.5s;

  // lh
  --lh140: 140%;
  --lh100: 100%;

  // tt
  --ttu: uppercase;
  --tti: inherit;
  --ttl: lowercase;

  // fw
  --fw400: 400;
  --fw500: 500;

  // ls
  --lsm04: -0.04em;
  --lsm02: -0.02em;

  // btn
  --fz-btn-secondary: 1.5rem;
  --fz-btn-primary: 1.1rem;

  @include media('500', max) {
    --fz-btn-secondary: 1.3rem;
  }

  // bdrs
  --bdrs5: 5rem;

  // tabs gradient (todo: заменить 16-е значение цвета на css переменную)
  --tabs-gradient: linear-gradient(223.91deg, #483140 -1.11%, rgba(204, 86, 35, 0) 42.01%);

  // ta
  --tac: center;
}
