:root {
  // pallette
  --pallette-black: #1c1a22;
  --pallette-onyx: #3a3b3f;
  --pallette-white: #fff;
  --pallette-light-taupe: #b19b71;
  --pallette-american-silver: #d2d5ca;

  // containers
  --container-width: 140rem;
  --container-padding: 1.6rem;

  // fonts
  --font1: 'DM Sans', sans-serif;
  --font2: 'Libre Caslon Display', serif;

  // transition
  --transition: 0.3s;
}
