<!DOCTYPE html>

{% set html_lang = html_lang|default('en') %}

<html lang="{{ html_lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title_page }}</title>
  <meta name="description" content="{{ meta.description }}">

  <link rel="apple-touch-icon" sizes="76x76" href="./assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png">
  <link rel="manifest" href="./assets/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Libre+Caslon+Display&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
  {% if header_type == 'case' %}
    {% view "&header" with {
      header: case.header
    } %}
  {% elseif header_type == 'services' %}
    {% view "&header" with {
      header: services.header
    } %}
  {% elseif header_type == 'portfolio' %}
    {% view "&header" with {
      header: portfolio.header
    } %}
  {% elseif header_type == '404' %}
    {% view "&header" with {
      header: error.header
    } %}
  {% else %}
    {% view "&header" %}
  {% endif %}

  {% block content %}{% endblock %}

  {% set isFooter = footer|default(true) %}

  {% if isFooter %}
    {% view "&footer" %}
  {% endif %}

  {% view "&popup" %}
<script src="./scripts/main.js"></script>
</body>
</html>