<footer class="footer">
  {# todo: заменить на видос #}
  <div class="footer__video">
    <picture>
      <source media="(max-width:500px)" srcset="./assets/images/rings_mob.png">
      <img src="./assets/images/rings.png" alt="">
    </picture>
  </div>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item footer__item--1">
        {% if footer.copyright %}
          <p class="footer__copyright">
            <small>
              {{ footer.copyright }}
            </small>
          </p>
        {% endif %}

        {% if footer.logo %}
          {% view "@logo" with {
            logo: footer.logo|merge({
              class: "footer__logo"
            })
          } %}
        {% endif %}
      </div>

      {% if footer.address %}
        <div class="footer__item footer__list offset-y footer__item--2">
          {{ footer.address }}
        </div>
      {% endif %}

      {% if footer.help_links %}
        <address class="footer__item footer__address footer__item--3">
          <ul class="footer__list offset-y" role="list">
            {% for item in footer.help_links.items %}
              <li class="footer__item">
                {% view "@button" with {
                  button: item|merge({
                    class: "link footer__link"
                  })
                } %}
              </li>
            {% endfor %}
          </ul>
        </address>
      {% endif %}

      {% if footer.menu %}
        <div class="footer__item footer__item--4">
          <nav class="menu footer__menu" aria-label="Footer">
            <ul class="footer__list footer__menu-list offset-y" role="list">
              {% for item in footer.menu.items %}
                <li class="footer__item">
                  {% view "@button" with {
                    button: item|merge({
                      class: "link footer__link"
                    })
                  } %}
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      {% endif %}
    </div>
  </div>
</footer>