.brands {
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.1rem;
    background-color: var(--pallette-onyx);

    @include media('767', max) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    @include flex-center;

    min-height: 16rem;
    padding: 1rem;
    background-color: var(--pallette-black);

    @include media('767', max) {
      min-height: 10rem;
    }

    @include media('500', max) {
      padding: 0.2rem;
    }

    &:first-child {
      grid-column: span 2;

      @include media('767', max) {
        grid-column: inherit;
      }
    }
  }

  &__img {
    // padding: 1.2rem;
    // width: 13.5rem;
    // height: 6rem;
    // object-fit: contain;
    transition: transform var(--transition2);

    &:hover {
      transform: scale(1.1);
    }

    @include media('500', max) {
      padding: 2rem;
    }
  }

  &__title {
    font-size: 4.8rem;
    line-height: var(--lh100);
    text-transform: var(--ttu);
    font-family: var(--font2);
    font-weight: var(--fw400);

    @include media('767', max) {
      font-size: 2.2rem;
    }
  }
}
