.hero-inner {
  padding-bottom: 7.6rem;

  @include media('1024', max) {
    padding-bottom: 2.2rem;
  }

  &__wrap {
    @include flex-center-column;

    text-align: center;
  }

  &__text {
    font-size: 3.2rem;
    line-height: var(--lh140);
    text-transform: var(--ttu);
    letter-spacing: var(--lsm04);

    &:not(:last-child) {
      margin-bottom: 2.6rem;
    }

    @include media('767', max) {
      margin-bottom: 2.4rem;
      font-size: 2rem;
    }
  }

  &__title {
    font-size: 7.8rem;

    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    @include media('767', max) {
      font-size: 4.8rem;

      &:not(:last-child) {
        margin-bottom: 4.1rem;
      }
    }

    &--big {
      font-size: 12.8rem;
    }
  }

  &__subtitle {
    max-width: 70rem;
    font-size: 1.8rem;
    line-height: var(--lh140);
    letter-spacing: var(--ltsm02);
    color: var(--pallette-gray-suit);

    @include media('767', max) {
      font-size: 1.2rem;
    }
  }
}