.hero-inner {
  position: relative;
  overflow: hidden;

  @include media('1024', max) {
    overflow: hidden;
  }

  // &--services {
  //   @include media('576', max) {
  //     height: calc(100vh - 15.9rem);
  //   }
  // }

  &__wrap {
    @include flex-center-column;

    text-align: center;
  }

  &__text {
    max-width: 85.5rem;
    font-size: 3.2rem;
    line-height: var(--lh140);
    text-transform: var(--ttu);
    letter-spacing: var(--lsm04);

    &:not(:last-child) {
      margin-bottom: 2.6rem;
    }

    @include media('767', max) {
      margin-bottom: 2.4rem;
      font-size: 2rem;
    }
  }

  &__title {
    font-size: 7.8rem;

    @include media('767', max) {
      font-size: 4.8rem;
    }

    &--small {
      &:not(:last-child) {
        margin-bottom: 5rem;

        @include media('767', max) {
          margin-bottom: 4.1rem;
        }
      }
    }

    &--big {
      font-size: 12.8rem;

      &:not(:last-child) {
        margin-bottom: 25.3rem;

        @include media('1024', max) {
          margin-bottom: 14.6rem;
          font-size: 10rem;
        }

        @include media('767', max) {
          font-size: 4.8rem;
        }
      }
    }
  }

  &__subtitle {
    max-width: 70rem;
    font-size: 1.8rem;
    line-height: var(--lh140);
    letter-spacing: var(--ltsm02);
    color: var(--pallette-gray-suit);

    @include media('767', max) {
      font-size: 1.2rem;
    }

   @include media('576', max) {
      max-width: 25rem;
    }
  }

  &__video {
    position: absolute;
    top: -19rem;
    z-index: -1;
    width: 100%;
    height: 108rem;

    @include media('1024', max) {
      height: 100rem;
    }

    @include media('767', max) {
      height: 80rem;
    }

    @include media('576', max) {
      height: 56rem;
      top: -10rem;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, var(--pallette-black) 25.65%, rgba(29, 25, 35, 0) 41.25%), linear-gradient(360deg, var(--pallette-black) 42.78%, rgba(29, 25, 35, 0) 60.37%);
      content: '';
    }

    video {
      @include img(cover);
    }
  }
}
