<div class="hero-inner main__section">
  {% if hero_inner.video %}
    <div class="hero-inner__video">
      <video src="{{ hero_inner.video.path }}" autoplay="autoplay" loop muted playsinline pip="false"></video>
    </div>
  {% endif %}

  <div class="container">
    <div class="hero-inner__wrap">
      {% if hero_inner.uptitle %}
        {% view "@title" with {
            title: hero_inner.uptitle|default({})|merge({
              attrs: 'data-sal="slide-up" data-sal-duration="800" data-sal-delay="100"',
              class: "js-title hero-inner__title hero-inner__title--big"
            })
        } %}
      {% endif %}

      {% if hero_inner.text %}
        <p class="hero-inner__text" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">{{ hero_inner.text }}</p>
      {% endif %}

      {% if hero_inner.title %}
        {% view "@title" with {
          title: hero_inner.title|default({})|merge({
            attrs: 'data-sal="slide-up" data-sal-duration="800" data-sal-delay="200"',
            class: "js-title hero-inner__title hero-inner__title--small"
          })
        } %}
      {% endif %}

      {% if hero_inner.subtitle %}
        <p class="hero-inner__subtitle" data-sal="slide-up" data-sal-duration="800" data-sal-delay="300">
          {{ hero_inner.subtitle }}
        </p>
      {% endif %}
    </div>
  </div>
</div>