.hero-inner {
  padding-bottom: 7.6rem;
  overflow: hidden;

  @include media('1024', max) {
    padding-bottom: 3.6rem;
  }

  &__wrap {
    position: relative;

    @include flex-center-column;

    text-align: center;
  }

  &__text {
    max-width: 85.5rem;
    font-size: 3.2rem;
    line-height: var(--lh140);
    text-transform: var(--ttu);
    letter-spacing: var(--lsm04);

    &:not(:last-child) {
      margin-bottom: 2.6rem;
    }

    @include media('767', max) {
      margin-bottom: 2.4rem;
      font-size: 2rem;
    }
  }

  &__title {
    font-size: 7.8rem;

    @include media('767', max) {
      font-size: 4.8rem;
    }

    &--small {
      &:not(:last-child) {
        margin-bottom: 5rem;

        @include media('767', max) {
          margin-bottom: 4.1rem;
        }
      }
    }

    &--big {
      font-size: 12.8rem;

      &:not(:last-child) {
        margin-bottom: 25.3rem;

        @include media('1024', max) {
          margin-bottom: 14.6rem;
          font-size: 10rem;
        }

        @include media('767', max) {
          font-size: 4.8rem;
        }
      }
    }
  }

  &__subtitle {
    max-width: 70rem;
    font-size: 1.8rem;
    line-height: var(--lh140);
    letter-spacing: var(--ltsm02);
    color: var(--pallette-gray-suit);

    @include media('767', max) {
      font-size: 1.2rem;
    }

    @include media('500', max) {
      max-width: 25rem;
    }
  }

  &__video {
    position: absolute;
    top: -5rem;
    z-index: -1;
    width: 137rem;
    height: 77rem;

    @include media('1024', max) {
      top: -10rem;
    }

    @include media('767', max) {
      width: 72rem;
      height: 41rem;
      top: -5rem;
    }

    &::before {
      position: absolute;
      bottom: 0;
      width: 100%;
      // height: 50rem;
      height: 72rem;
      // background: linear-gradient(360deg, var(--pallette-black) 50%, rgba(29, 25, 35, 0) 72.37%);
      background: linear-gradient(65.84deg,#1c1a22 .68%,#1c1a2200 21.34%),linear-gradient(107.69deg,#1c1a22 -12.01%,#1c1a2200 20.16%),linear-gradient(249.35deg,#1c1a22 -6.47%,#1c1a2200 21.41%),linear-gradient(292.24deg,#1c1a22 3.48%,#1c1a2200 23.35%),linear-gradient(0deg,#1c1a22,#1c1a2200 44.6%),linear-gradient(90deg,#1c1a22 1.24%,#1c1a2200 38%),linear-gradient(270deg,#1c1a22,#1c1a2200 26.7%),linear-gradient(180deg,#1c1a22,#1c1a2200 15.35%);
      z-index: 1;
      content: '';

      @include media('767', max) {
        // height: 35rem;
        height: 36rem;
      }
    }

    video {
      @include img(cover);
    }
  }
}
