.portfolio {
  padding-top: 10.4rem;
  padding-bottom: 16.3rem;

  &__inner {
    --offset-y: 4rem;
  }

  &__note {
    text-align: var(--tac);
    font-size: 1.8rem;
    line-height: var(--lh140);
    letter-spacing: var(--ltsm02);
    color: var(--pallette-gray-suit);
  }

  &__item {
    padding: 3rem 0;
    border-bottom: 0.1rem solid var(--pallette-onyx);

    &:first-child {
      border-top: 0.1rem solid var(--pallette-onyx);
    }
  }
}