<section class="portfolio">
  <div class="container">
    <div class="portfolio__inner offset-y">
      {% if portfolio.tabs_nav %}
        {% view "^tabs_nav" with {
          tabs_nav: portfolio.tabs_nav
        } %}
      {% endif %}

      {% if portfolio.note %}
        <p class="portfolio__note">
          <small>
            {{ portfolio.note }}
          </small>
        </p>
      {% endif %}

      {% if portfolio.tabs_contents %}
        {% for tabs_content in portfolio.tabs_contents %}
          <ul
            class="portfolio__list js-tabs-content {{ tabs_content.class }}"
            {{ tabs_content.attrs }}
          >
            {% for item in tabs_content.items %}
              <li class="portfolio__item">
                {% view "^portfolio_card" with {
                  portfolio_card: item
                } %}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>