<section class="portfolio">
  <h2 class="visually-hidden">It's our portfolio</h2>
  <div class="container">
    <div class="portfolio__inner offset-y">
      {% if portfolio.tabs_nav %}
        {% view "^tabs_nav" with {
          tabs_nav: portfolio.tabs_nav
        } %}
      {% endif %}

      {% if portfolio.note %}
        <p class="portfolio__note">
          {{ portfolio.note }}
        </p>
      {% endif %}

      {% if portfolio.tabs_contents %}
        {% for tabs_content in portfolio.tabs_contents %}
          <div
            class="portfolio__list js-tabs-content {{ tabs_content.class }}"
            {{ tabs_content.attrs }}
          >
            {% for item in tabs_content.items %}
              <div class="portfolio__item">
                {% view "^portfolio_card" with {
                  portfolio_card: item
                } %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  {% view "@top_btn" with {
    top_btn: {
      class: "top-btn--portfolio"
    }
  } %}
</section>